@use 'variables' as *;

.splitter-container {
  width: 100%;
  background-color: $white;
  padding: toRem(24);
  border-radius: toRem(25) toRem(25) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: toRem(24);

}
.label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tip-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: toRem(16);
  column-gap: toRem(16);

  .last{
    background-color:$grey-50;
    color:$grey-500;

    &:hover {
      background-color: $grey-50;
      color:$grey-500;
    }
  }
}

#tip-5{
  grid-area: 1 / 1 / 2 / 2;
}
#tip-10{
  grid-area: 1 / 2 / 2 / 3;
}
#tip-15{
  grid-area: 2 / 1 / 3 / 2;
}
#tip-25{
  grid-area: 2 / 2 / 3 / 3;
}
#tip-50{
  grid-area: 3 / 1 / 4 / 2;
}
.custom-container {
  grid-area: 3 / 2 / 4 / 3;
  position: relative;
}
.total-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: $font-size-24;
  font-weight: $font-weight;
  background-color: $green-900;
  border-radius:toRem(15);
  padding: toRem(24);

    span {
      color: $green-400;
      font-size: $font-size-32;
    }
}
.total-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: toRem(24);
  margin-bottom: toRem(0);
}

.total-labels {
  display: flex;
  flex-direction: column;
  .heading {
    color: $white;
    font-size: $font-size-16;
  }
  .info{
    color: $grey-400;
    font-size: $font-size-13;
  }
}